.Heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bolder;
}

.sudoku_grid{
    display: flex;
    flex-direction: row;
    max-width: 578px;
    flex-wrap: wrap;

    margin: 10px auto ;
}

.sudoku_grid div{
    display:  flex;
    align-items: center;
    justify-content: center;
    
    width: 60px;
    height: 60px;
    color: white;
    font-size: 40px;

    box-sizing: border-box;
}

.Buttons{   
    display: flex;
    justify-content: center;
    width: 100%;    
    margin-bottom: 80px;
}

#GetPuzzle,#SolvePuzzle{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 35px;
    font-size: 24px;
    border: 1px solid #2d6898;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,.3);
    margin-right: 10px;
}

#GetPuzzle{
    background-color: #e5343d;
}
#SolvePuzzle{
    background-color: #4747e6;
}
.box1{
    background-color: #0d0d0e;
    border: 1px solid  rgb(255, 255, 255);
}

.box1:hover{
    background-color: #48aaaD;
    color: black;
}

.box2{
    background-color: #0d0d0e;
    border: 1px solid  rgb(255, 255, 255);
}
.box2:hover{
    background-color: #48aaaD;
}

.box3{
    background-color: #0d0d0e;
    border: 1px solid  rgb(255, 255, 255);
}
.box3:hover{
    background-color: #48aaaD;
    color: black
}

.bl{
    border-left: 2px solid rgb(255, 255, 255);
}

.bb{
    border-bottom: 2px solid rgb(255, 255, 255);
}

.br{
    border-right: 2px solid rgb(255, 255, 255);
}

.bt{
    border-top: 2px solid rgb(255, 255, 255);
}